body{
    margin: 0;
    width:1440px;
    font-family: 'Montserrat', sans-serif;
}

.topnav{
    overflow: hidden;
    background-color: #12141c;
    text-align: center;
    padding: 25px 25px;
}

.topnav a{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    padding: 50px;
    font-size: 25px;
    color:#ef771f;
    text-shadow: 1px 1px #ffffff;
    text-decoration: none;
}
.errtxt{
    background-color: rgba(33,37,41,255);
    align-content: center;
    padding:120px;
    text-align: center;
    color:#ffffff;
}
.notfound{
    background-image: url("../assets/404-featured.jpg");
    height: 339px;
    background-size: 100%;
    background-position: 100%;
    overflow: hidden;
    box-shadow: 0 3000px rgb(178,65,0,0.4) inset;
}
.notfound h3{
    position: relative;
    margin-top: auto;
    top: 43%;
    left: 35.8%;
    font-size: 40px;

  
}
.footer{
    background-color: #12141c;
    text-align: center;
    display: table;
    width: 100%;
}

.footer .column{
    float: left;
    color: #ffffff;
    width: 50%;
}