<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<!-- <script>
    const validage = document.getElementById("age");

    validage.addEventListener("input", function (event) {
    if (number.validity.typeMismatch) {
        validage.setCustomValidity("Please enter a number.");
        validage.reportValidity();
    } else {
        validage.setCustomValidity("");
    }
    });
</script> -->
<body>
    <div class="head">
        <h1><b> Blood Pressure Predictor </b></h1>
        <h4>Fill out the form to get your Blood Pressure estimate!</h3>
    </div>
    <div class="form"> 
        <form action="{{ url_for('predict')}}"method="post">
            <label for="age">
                <b> &nbsp &nbsp &nbsp Age </b> 
                <b><span style="color: #a91f21"> * </span></b> </label> 
            <input type="number" id="age" name="Age" placeholder="Enter age in years" required="required" step="1" min="0"/>
            <br>
            <br>
            <label for="weight">
                <b> Weight </b> 
                <b><span style="color: #a91f21"> * </span></b> </label> 
            <input type="number" name="weight" placeholder="Enter weight in kg" required="required" step="1" min="0"/>
            <br>
            <br>
            <br>
            <button type="submit"> Calculate </button>
        </form>
    </div>
    <br>
    <br>
    <div class="result">
        <p><b> {{result}} <b></p>
    </div>
    <script>
        const ageinput = document.querySelector('input[name="Age"]');
    
        ageinput.addEventListener('invalid', function (event) {
          if (event.target.validity.valueMissing) {
            event.target.setCustomValidity('Please enter a number.');
          }
        })
    
        ageinput.addEventListener('change', function (event) {
          event.target.setCustomValidity('');
        })

        const weightinput = document.querySelector('input[name="weight"]');
    
        weightinput.addEventListener('invalid', function (event) {
          if (event.target.validity.valueMissing) {
            event.target.setCustomValidity('Please enter a number.');
          }
        })
    
        weightinput.addEventListener('change', function (event) {
          event.target.setCustomValidity('');
        })
      </script>
</body>

</html>
